:root {
  --primary-text-clr: #293264;
  --accent-clr: #4D5B9E;
  --background-clr: #F5F7FB;
  --selected-answer-clr: #D6DBF5;
  --correct-clr: #94D7A2;
  --incorrect-clr: #F8BCBC;
  --neutral-clr: #9094AC;
}

/* --------------------- CSS RESET/NORMALIZE --------------------- */
body, h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  color: var(--primary-text-clr);
  line-height: 1;
  letter-spacing: 1.1px;
}

/* ---------------------- HOMEPAGE -------------------- */
.main--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--background-clr);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.main--title {
  font-size: 3rem;
}

.main--description {
  font-size: 1.25rem;
  text-align: center;
}

.main--btn {
  margin-top: 20px;
}

.main--items {
  z-index: 1;
}

.main--blue-blob {
  position: absolute;
  top: -350px;
  right: -300px;
  width: 600px;
  height: 600px;
}

.main--yellow-blob {
  position: absolute;
  bottom: -350px;
  left: -350px;
  width: 600px;
  height: 600px;
}

/* ---------------------- QUIZPAGE -------------------- */
.quiz--container {
  text-align: center;
  padding: 60px 40px;
  position: relative;
  overflow: hidden;
  /* height: calc(100vh - 120px); */
}

.question--container {
  margin: 40px 0;
}

.quiz--question {
  font-size: 1.35rem;
}

.answer--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 0;
  border-bottom: 1px solid #DBDEF0;
}

.quiz--answer {
  padding: 10px 35px;
  border: solid 2px;
  border-radius: 20px;
  text-align: center;
  list-style: none;
  cursor: pointer;
}

.quiz--answer:hover, .quiz--selected-answer {
  background-color: var(--selected-answer-clr);
}

.quiz--selected-answer {
  border: solid 2px transparent;
}

.quiz--correct-answer {
  background: var(--correct-clr);
  border: solid 2px transparent;
}

.quiz--incorrect-answer {
  background: var(--incorrect-clr);
  color: var(--neutral-clr);
  border: solid 2px transparent;
}

.quiz--neutral-answer {
  color: var(--neutral-clr);
  border: solid 2px var(--neutral-clr);
}

.quiz--play-again-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.quiz--play-again-text {
  font-size: 1.15rem;
  font-weight: bold;
}

.quiz--blue-blob, .quiz--yellow-blob {
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: -1;
}

.quiz--blue-blob {
  top: -210px;
  right: -120px;
}

.quiz--yellow-blob {
  bottom: -200px;
  left: -120px;
}

.quiz--information-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
}

.quiz--loading-text, .quiz--error-message {
  font-size: 2rem;
  font-weight: bold;
  white-space: pre-wrap;
}

/* ---------------- MEDIA QUERIES --------------- */
@media(min-width: 750px) {

  .quiz--container {
    padding: 80px 100px;
    height: 100%;
  }

  .quiz--question {
    text-align: left;
  }

  .answer--container {
    flex-direction: row;
    justify-content: left;
  }

  .quiz--play-again-container {
    flex-direction: row;
    gap: 40px;
  }

  .quiz--information-text-container {
    height: calc(100vh - 160px);
  }

  .quiz--yellow-blob {
    bottom: -150px;
  }

  .quiz--blue-blob {
    top: -170px;
  }
}

/* ---------------- UTILITY CLASSES ----------------*/
.btn {
  font-family: inherit;
  font-size: 1.25rem;
  background: var(--accent-clr);
  color: var(--background-clr);
  border: none;
  border-radius: 15px;
  width: 200px;
  height: 65px;
  letter-spacing: 1.1px;
  cursor: pointer;
}